@font-face {
	font-family: Greek;
	src: url("../font/heorot.ttf") format('truetype');
}

body {
	background-color: rgba(83, 189, 255, 1);
}

h1 {
	font-family: Greek;
	font-size: 8em;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0.5em;
}

h2 {
	text-align: center;
}

span {
	margin-top: 1em;
	font-size: 1.5em;
}

.wrapper {
	padding: 2em;
	max-width: 80%;
	margin: 0 auto;
	position: relative;
	min-height: 40em;
	min-width: 400px;
}

.content {
	margin-left: 400px;
}

#icons {
	position: absolute;
  	width: 350px;
  	top: 2em;
}

#iconlist1, #iconlist2 {
	display: inline-block;
}

.iconlist {
	list-style: none;
}


@media (max-width: 1527px) {
	h1 {
		font-size: 6em;
	}
}

@media (max-width: 1280px) {

	.content {
		margin-left: 0;
	}

	#icons {
		top: 16em;
	}

	#iconlist1, #iconslist2 {
		width: 100%;
	}

	#iconlist1 > .iconlist {
		margin-bottom: 0;
	}

	#iconlist2 > .iconlist {
		margin-top: 0;
	}

	span {
		margin-top: 0;
		display: inline-block;
		margin-left: 10em;
	}
}


@media (max-width: 990px) {
	.wrapper {
		padding: 0.5em;
	}

	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 1em;
	}

	#icons {
		top: 9.5em;
		left: -2em;
	}

	span {
		font-size: 1em;
		margin-left: 10em;
	}
}




